<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="SentryAppender" class="net.kencochrane.raven.log4j.SentryAppender">
        <param name="dsn"
               value="http://cc03a0b2a1734f1c9e7cd8cecde9f151:72db4be78e8c4b79b270c29f75fa2fd2@sentry.cash.pt.xiaomi.com/24?raven.async.queuesize=10000"/>
        <param name="threshold" value="ERROR"/>
    </appender>

    <appender name="FileAppender" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File"
               value="application.log"/>
        <param name="DatePattern" value=".yyyyMMdd"/>
        <param name="threshold" value="INFO"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%-5p\t%d{yyyy-MM-dd HH:mm:ss.SSS}\t%t\t%X{SessionId}\t%l\t%m\t%n"/>
        </layout>
    </appender>

    <root>
        <appender-ref ref="FileAppender"/>
    </root>
</log4j:configuration>
